{% extends "base.html" %}
{% load blog_tags %}
{% load hitcount_tags %}
{% load thumbnail %}


{% block content %}
    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <div class="image">
                            {% thumbnail first_slot.image "870x500" crop="center" as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt=""
                                     class="img-fluid image">
                            {% endthumbnail %}
                        </div>
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    {% for tag in first_slot.tags.all %}
                                        <small class="firstsmall">
                                                <span class="bg-orange">
                                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                                        {{ tag.name }}
                                                        </a>
                                                </span>
                                        </small>
                                    {% endfor %}
                                    <h4><a href="{{ first_slot.get_absolute_url }}" title="">{{ first_slot.title }}</a>
                                    </h4>
                                    <small><a href='' title="">{{ first_slot.publish|date:'d F Y' }}</a></small>
                                    <small><a href="{% url 'blog:authors' %}"
                                              title="">by {{ first_slot.author }}</a></small>
                                    <small><a href="" title=""><i
                                            class="fa fa-eye"></i> {% get_hit_count for first_slot %}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->


                <div class="second-slot">
                    <div class="masonry-box post-media">
                        <div class="image">
                            {% thumbnail second_slot.image "435x500" crop="center" as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt=""
                                     class="img-fluid image">
                            {% endthumbnail %}
                        </div>
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    {% for tag in second_slot.tags.all %}
                                        <small class="firstsmall">
                                                                <span class="bg-orange">
                                                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                                                        {{ tag.name }}
                                                                        </a>
                                                                </span>
                                        </small>
                                    {% endfor %}
                                    <h4><a href="{{ second_slot.get_absolute_url }}"
                                           title="">{{ second_slot.title }}</a></h4>
                                    <small><a href=""
                                              title="">{{ second_slot.publish|date:'d F Y' }}</a></small>
                                    <small><a href="{% url 'blog:authors' %}"
                                              title="">by {{ second_slot.author }}</a></small>
                                    <small><a href="" title=""><i
                                            class="fa fa-eye"></i> {% get_hit_count for second_slot %}</a></small>

                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->

                <div class="last-slot">
                    <div class="masonry-box post-media">
                        <div class="image">
                            {% thumbnail last_slot.image "435x500" crop="center" as image %}
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt=""
                                     class="img-fluid image">
                            {% endthumbnail %}
                        </div>
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    {% for tag in last_slot.tags.all %}
                                        <small class="firstsmall">
                                                                <span class="bg-orange">
                                                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                                                        {{ tag.name }}
                                                                        </a>
                                                                </span>
                                        </small>
                                    {% endfor %}
                                    <h4><a href="{{ last_slot.get_absolute_url }}" title="">{{ last_slot.title }}</a>
                                    </h4>
                                    <small><a href="" title="">{{ last_slot.publish|date:'d F Y' }}</a></small>
                                    <small><a href="{% url 'blog:authors' %}"
                                              title="">by {{ last_slot.author }}</a></small>
                                    <small><a href="" title=""><i
                                            class="fa fa-eye"></i> {% get_hit_count for last_slot %}</a></small>

                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->
            </div><!-- end masonry -->
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">Recent Posts <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">

                            {% for post in posts %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a class="blog-style" href="{{ post.get_absolute_url }}" title="">
                                                {% thumbnail post.image "255x150" crop="center" as image %}
                                                    <img src="{{ image.url }}" width="{{ image.width }}"
                                                         height="{{ image.height }}" alt="" class="img-fluid">
                                                {% endthumbnail %}
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                        <p>{{ post.body|truncatewords:30|markdown }}</p>
                                        {% for tag in post.tags.all %}
                                            <small class="firstsmall">
                                                <a class="bg-orange" href="{% url "blog:post_list_by_tag" tag.slug %}">
                                                    {{ tag.name }}
                                                </a>
                                            </small>
                                        {% endfor %}
                                        <br>
                                        <small><a href="#" title="">{{ post.publish|date:'d F Y' }}</a></small>
                                        <small><a href="{% url 'blog:authors' %}"
                                                  title="">by {{ post.author }}</a></small>
                                        <small><a href="#" title=""><i
                                                class="fa fa-eye"></i> {% get_hit_count for post %}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            {% endfor %}

                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <hr class="invis">

                    {% include 'blog/pagination.html' with page=posts %}
                </div><!-- end col -->

                {% include 'blog/widget.html' %}

            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endblock %}