{% load blog_tags %}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">

        <div class="widget">
            <h2 class="widget-title">Popular Posts</h2>
            {% get_most_viewed_posts as most_viewed_posts %}
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for post in most_viewed_posts %}
                    <a href="{{ post.get_absolute_url }}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <div class="popular-style">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid float-left">
                            </div>
                            <h5 class="mb-1">{{ post.title|truncatechars:25 }}</h5>
                            <small>{{ post.publish|date:'d F Y' }}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Most Commented</h2>
            {% get_most_commented_posts as most_commented_posts %}
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for post in most_commented_posts %}
                    <a href="{{ post.get_absolute_url }}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <div class="popular-style">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid float-left">
                            </div>
                            <h5 class="mb-1">{{ post.title|truncatechars:25 }}</h5>
                            <small>{{ post.publish|date:'d F Y' }}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->


    </div><!-- end sidebar -->
</div><!-- end col -->
