<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>amirshokh</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app">

    {% include 'header.html' %}

    <div class="container">
        <sidebar>
            <div class="sidebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <h1 class="header">My Blog</h1>
                        </div>
                        <div class="col-md">
                            <h1 class="header">New posts</h1>
                        </div>
                        <!--<div class="col-md">
                            <h1 class="font-weight-lighter">Latest posts</h1>
                        </div>-->
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="left-side">
                                <p>This is Amirshokh`s blog. I have written 5 posts so far.</p>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="file">
                                <h2 class="header">Hello world</h2>
                                <p><strong>Tag:</strong> <span class="span">programming</span></p>
                                <p class="muted"><i>published January 1, 1970, 00:01 a.m by user</i></p>
                                <img class="image" src="img/laptop.jpg" alt="">
                                <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, atque
                                    totam! Ad aliquam aperiam consequuntur cupiditate dicta distinctio dolorum ducimus ea
                                    exercitationem facere fuga fugit hic ipsa ipsam, itaque maiores, natus omnis possimus
                                    praesentium quam reprehenderit repudiandae sunt tempore ut.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aperiam aspernatur cum dolor dolorum eius facere laboriosam nesciunt numquam quibusdam quis quos recusandae repudiandae, sed sit ullam unde? Accusantium alias eaque esse itaque quas quis recusandae reprehenderit sequi. Alias fugit iste laboriosam recusandae repellendus! Beatae blanditiis consectetur, magni nam perferendis quo vitae! Ea facere nisi non omnis tempora velit.</strong></p>
                                <hr>
                                <input type="text" class="comment mb-5" name="comment:" placeholder="comment:" id="">
                                <button class="btn btn-dark">submit</button>  
                            </div>
                        </div>
                        <!--<div class="col-md">
                            <div class="right-side">
                                <div class="actual">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <a class="btn" href="#">Who is Mirsaid Akhmedov</a>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <img src="img/laptop.jpg" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <a class="btn" href="#">Why Mirsaid Akhmedov is so popular?</a>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <img src="img/laptop.jpg" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <a class="btn" href="#">Who is Amirshokh Mukhidinov</a>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <img src="img/laptop.jpg" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <a class="btn" href="#">Why Amirshokh Mukhidinov is so bot ?</a>
                                        </div>
                                        <div class="col-md-4 mb-4">
                                            <img src="img/laptop.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </sidebar>
    </div>

    {% include 'footer.html' %}

</div>
<script src="js/main.js"></script>
</body>
</html>
