<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="login-box bg-dark">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input type="email" name="Email" required>
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="text" name="username" required>
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="username" required>
            <label>Password</label>
        </div>
        <button id="button">Submit</button>
    </form>
</div>
</body>
</html>