* {
    font-family: -apple-system, serif;
    margin: 0;
    padding: 0;
}
a {
    color: #444;
}
a:hover {
    color: #222;
    text-decoration: none;
}


/* HEADER */
.header h1 {
    font-size: 60px;
    letter-spacing: 10px;
}
.right {
    margin-top: 10px;
}

.right li {
    display: inline;
    margin: 0 15px;
}

/* section */
.row ul {
    margin: 0;
    font-size: 20px;
    list-style: none;
}
.row h2 {
    font-size: 40px;
    letter-spacing: 4px;
}
.row span {
    font-size: 15px;
}

.experience {
    margin-top: 40px;
}

.skills {
    margin-top: 40px;
}

.skills ul li {
    padding-bottom: 10px;
}

.education {
    margin-top: 40px;
}

.project img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}
.image img {
    width: 500px;
    height: 600px;
}
.image a {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    letter-spacing: 3px;
}